@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation";
$teal: #00CCCC;
body{
  background-color: white;
}
header#header_block{
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  background-color: black;
  &:hover{
    color: white;
  }
  .row {
    span#flappy {
      color: $teal;
      padding-top: 15px;
    }
    span#app{
      color: $teal;
      padding-top: 15px;
    }

    .columns {
      ul#right_nav{
        margin-top: 15px;
        text-transform: uppercase;
        list-style-type: none;
        border-bottom: 5px solid $teal; 
        li{
          display: inline-block;
          padding: 10px;
          
          &:hover a {
            color: white;
          }
          a{          
            color: $teal;
            width: 60px;
          }
        }
      }
    }
  }
}
#content {
  background-color: white;
  padding-top: 50px;
  #top {
    .row{
      .columns{
        #scenery{
          max-width: 100%;
          height: 237px;
          background-image: url('/images/scenery.png');
          background-repeat: no-repeat;
          background-size: contain; 
          border: 5px solid black;
        }
        #features{
        
          #featnav{
            max-width: 100%;
            height: 237px;
            list-style: none;
            text-align: center;
            background-color: $teal;
            li{
              border: 1px solid gray;
              height: 47.4px;
              text-align: center;

              .fftext{
                text-transform: uppercase;
                font-weight: bold;
                color: $teal;
                background-color: black;


              }
              .ftext{
                text-transform: uppercase;
                color: black;
                font-weight: bold;

              }
              .fnumbers{
                color: white;
              }
            }
            li#ff{
              background-color: black;
            }
          }
        }
        #bottom{
          p{
            font-weight: bold;

          }
        }
      }

    }

  }






}

